<!DOCTYPE html>
<html>
  <head>
    <title>Search Results</title>
  </head>
  <body>
    <h1>Search Results for "{{query}}"</h1>
    <ul>
      {{#each books}}
        <li>
          <a href="/book/{{this.isbn}}">
            <strong>{{this.title}}</strong><br>
            <strong>ISBN:</strong> {{this.isbn}}<br>
            {{#if this.coverLink}}
              <img src="{{this.coverLink}}" alt="Cover image of {{this.title}}" width="100"><br>
            {{/if}}
          </a>
        </li>
      {{/each}}
    </ul>
    <a href="/">Back to search</a>
  </body>
</html>
